---
import LibraryIcon from '@/icons/Library.astro'
import AsideItem from '@/components/AsideItem.astro'
import { playlists } from '@/lib/data'
---

<div class="bg-zinc-900 pl-2 pt-2 flex flex-col gap-2 h-full rounded-xl m-1">
  <div class="flex gap-2 text-zinc-400 hover:text-zinc-200 transition duration-200 cursor-pointer">
    <LibraryIcon />
    <h2 class="font-bold">Your Library</h2>
  </div>
  <ul class="flex flex-col">
    {playlists.map(plist => (
      <AsideItem playlist={plist}/>
    ))}
  </ul>
</div>